<!DOCTYPE html>
<html lang="pl">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <app-header>
        <a href="#">
            <img src="assets/images/logo.svg" alt="Logo" />
        </a>
        </app-header>
    
        <app-footer>
            <p class="grey-text text-lighten-4">
            © 2020 Copyright Text
            </p>
        </app-footer>
    </body>
</html>