<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Hachi+Maru+Pop&family=Potta+One&display=swap" rel="stylesheet">
  </head>
  <div class="container-fluid container_content">
    <div class="row no-gutters wrapper">
     
      <div class=" col-12 header_login">
        <h3>Biuro podróży</h3>
        <h1>Bajlando</h1>
        <h3> Bo kazda podróż to niezła zabawa!</h3>
      </div>
    </div>
    <div class="row  about_us">
      <div class="col-12 about_us_header">
        <h1>Poznaj nas lepiej!</h1>
      </div>
      <div class="col-12 about_us_content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis in officiis aperiam neque maiores dicta quasi expedita sed sunt, non nihil ex? Molestiae obcaecati beatae maiores nulla quod ullam doloribus alias porro, similique repellendus delectus saepe at corrupti minima! Enim repellat sequi recusandae, quis ratione maxime ab obcaecati dignissimos maiores praesentium earum laboriosam quidem cumque aliquam quod possimus excepturi sit commodi. Consectetur autem harum fuga omnis non commodi beatae dignissimos quia magni eligendi qui, expedita repellendus cum voluptate quasi enim facilis pariatur delectus sapiente aliquid, dolore laborum alias. Quisquam nobis soluta magni molestias nihil tempora delectus illum molestiae impedit quos.</p>
      </div>
    </div>
    <div class=" row gallery">
      
    
        <div class="gallery-row card-columns" >
           
          <div  class="card gallery-image-col">
              
            <img alt="picture" src="../../assets/images/zdj1.jpg" class="img-fluid">
           
          </div>
  
          <div  class="card gallery-image-col">
              
            <img alt="picture" src="../../assets/images/zdj2.jpg" class="img-fluid">
           
          </div>
  
          <div  class="card gallery-image-col">
              
            <img alt="picture" src="../../assets/images/zdj3.jpg" class="img-fluid">
           
          </div>
          <div  class="card gallery-image-col">
              
            <img alt="picture" src="../../assets/images/zdj4.jpg" class="img-fluid">
           
          </div>
          <div  class="card gallery-image-col">
              
            <img alt="picture" src="../../assets/images/zdj5.jpg" class="img-fluid">
           
          </div>
          <div  class="card gallery-image-col">
              
            <img alt="picture" src="../../assets/images/zdj6.jpg" class="img-fluid">
           
          </div>
             
            
        </div>
    </div>
  </div>
